body {
  width:80%;
  margin: 0 auto;
  background-color: whitesmoke;
}
.main {
  background-color: #96cf90;
  padding: 2em;
}
.header {
  color: black;
}
.section {
  width: 100%;
}
.ladder {
  border: 1px solid black;
  width: 100%;
}
.footer {
  text-align: center;
  padding: 1em;
}
button {
  color: red;
  padding: .5em;
}
.image {
    margin-left: 1em;
}